/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body {
   background-image: url("/bg_opt_1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right center;
   background-attachment: fixed;
 }


 .top-bar {
   background-repeat: no-repeat;
   background-attachment: no-repeat;
   font-family: 'Open Sans', sans-serif;
   background-color: #042E60;
   opacity: .85;
 }

 ul.right {
   background-color: #042E60;
 }

 a {
   color: black;
   /* text-decoration: underline; */
 }


.flash-notice {
  position: fixed;
  z-index: 1;
  opacity: .85;
  background-color: #65BF77;
  color: white;
  -webkit-animation: fadeinout 3s linear forwards;
  animation: fadeinout 3s linear forwards;
  opacity: 0;
  font-style: italic;
  padding: 15px;
}

 .flash-alert {
   position: fixed;
   z-index: 1;
   opacity: .85;
   background-color: #FB5353;
   color: white;
   -webkit-animation: fadeinout 3s linear forwards;
   animation: fadeinout 3s linear forwards;
   opacity: 0;
   font-style: italic;
   padding: 15px;
 }

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

@import "react-alice-carousel/lib/alice-carousel.css";
