.title {
  position: relative;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  padding: 25px;

}

.breaks {
  color: white;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  border: 3px solid black;
  margin: 40px 30px;
  width: 300px;
  padding: 10px;
  background-color: #042E60;
  font-family: 'Open Sans', sans-serif;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.breaks:hover {
  color: white;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  border: 3px solid black;
  margin: 40px 30px;
  width: 300px;
  padding: 10px;
  background-color: #0051b1;
  font-family: 'Open Sans', sans-serif;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.alpha60 {
  width: 50%;
  margin: 30px auto;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 35px;
  font-family: 'Open Sans', sans-serif;
}

.breakslist {
  color: white;
}
