.showpagetitle {
  display: block;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
  font-size: 48px;
  color: white;
  align-self: center;
  background-image: url('top_bar.jpeg');
  background-position: center;
  font-family: 'Lora', serif;
  font-stretch: expanded;
}

.maps {
  border: 2px solid black;
  max-width: 100%;
  max-height: 100%;
  text-align: center
}

.breakshow {
  display: block;
  text-align: left;
  // border: 3px solid black;
  margin: 5px;
  padding: 5px;
  background-color: white;
  font-family: 'Lora', serif;
}

.conditions {
  // border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background-color: white;
  font-family: 'Lora', serif;
  text-align: left;
}

.postshow {
  max-height: 500px;
  // border: 3px solid black;
  margin: 5px;
  padding: 5px;
  background-color: white;
  overflow: scroll;
  align-content: center;
  font-family: 'Lora', serif;

}

.formshow {
  text-align: left;
  // border: 3px solid black;
  margin: 5px;
  padding: 5px;
  background-color: white;
  font-family: 'Lora', serif;
}

.postquestion {
  margin: 5px;
  font-weight: bolder;
  padding: 3px;
  text-decoration: underline;
  font-family: 'Lora', serif;
}

.spotlocation {
  // margin: 5px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 5px;
  font-family: 'Lora', serif;
}

.overallrating {
  text-align: center;
  font-size: 20px;
  margin: 10px auto;
  padding: 2px;
  width: 50%;
  border: 2px solid black;
  background-color: #CCE9FE
}

.staticspotdata {
  margin: 5px;
  padding: 3px;
}

.breakname {
  font-size: 28px;
  padding-bottom: 10px;
  font-family: 'Lora', serif;

}

.column {
  float: left;
  padding: 10px
}

.column.side {
  width: 60%;
}

.column.middle {
  width: 40%
}
