.alpha50 {
  text-align: center;
  font-size: 56px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.maps {
  border: 2px solid black;
  max-width: 100%;
  max-height: 100%;
  text-align: center
}

.easyspot {
  color: green;
  font-weight: bold;
}

.hardspot {
  color: red;
  font-weight: 600;
  font-style: italic;
}

.breakshow {
  display: block;
  text-align: left;
  margin: 5px;
  padding: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.conditions {
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.postshow {
  max-height: 500px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  overflow: scroll;
  align-content: center;
  font-family: 'Open Sans', sans-serif;

}

.formshow {
  text-align: left;
  margin: 5px;
  padding: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.postquestion {
  margin: 5px;
  font-weight: bolder;
  padding: 3px;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

.spotlocation {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.overallrating {
  text-align: center;
  font-size: 20px;
  margin: 10px auto;
  padding: 2px;
  width: 50%;
  border: 2px solid black;
  background-color: #CCE9FE
}

.staticspotdata {
  margin: 5px;
  padding: 3px;
}

.breakname {
  font-size: 28px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.column {
  float: left;
  padding: 10px
}

.column.side {
  width: 50%;
}

.column.middle {
  width: 50%
}
