.alpha50 {
  text-align: center;
  font-size: 56px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

form{
  font-size: 18px;
}

.maps {
  border: 2px solid black;
  max-width: 100%;
  max-height: 100%;
  text-align: center
}

.easyspot {
  color: green;
  font-weight: bold;
}

.hardspot {
  color: red;
  font-weight: 600;
  font-style: italic;
}

.breakshow {
  display: block;
  text-align: left;
  margin: 5px;
  padding: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.conditions {
  margin: 3px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 18px;
}

.postshow {
  max-height: 863px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  overflow: scroll;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.formshow {
  text-align: left;
  margin: 5px;
  padding: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.spotlocation {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

.charttext {
  text-decoration: underline;
  font-weight: 600;
}

.overallrating {
  text-align: center;
  font-size: 20px;
  margin: 10px auto;
  padding: 2px;
  width: 50%;
  border: 3px solid black;
  background-color: #CCE9FE
}

.staticspotdata {
  margin: 5px;
  padding: 3px;
}

.breakname {
  font-size: 28px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.column {
  float: left;
  padding: 10px
}

.column.side {
  width: 50%;
}

.column.middle {
  width: 50%
}

img.icon{
  padding: 0px;
  max-width: 60%;
  max-width: 60%
}

table {
  margin: 0 auto;
  width: 90%;
  height: 100%
}
td.size {
  font-size: 18px;
  text-align: center;
}

td.sizesmall {
  font-size: 16px;
  text-align: center;
}
