.post {
  border: 3px solid black;
  margin: 5px;
  padding: 8px;
}

.postsheader {
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}

button {
  background-color: #042E60;
  padding: 10px;
  font-size: 14px;
}

button:hover {
  background-color: #0051b1;
  padding: 10px;
  font-size: 14px;
}

.button {
    background-color: #042E60;
    padding: 10px;
    font-size: 14px;
}

.button:hover {
    background-color: #0051b1;
    padding: 10px;
    font-size: 14px;
}
