.userprofile {
    margin: 5px;
    padding: 8px;
    background-color: white;
}

img {
  max-width: 50%;
  height: auto
}

.userprofiletitle {
  font-weight: bold;
}

.userposts {
  margin: 5px;
  padding: 12px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.userpost {
  max-height: 550px;
  overflow: scroll
}

.userpostlink {
  color: #042E60;
  text-decoration: underline;
}

.postquestion {
  margin: 5px;
  font-weight: bolder;
  padding: 3px;
  font-style: italic;
}
